UF1_NF3.2_A2_Villalbi_Genis/matricula.dtd

<!ELEMENT matricula (casa, alumnes)>
<!ELEMENT alumnes (alumne+)>
<!ELEMENT alumne (nom,any,assignatures)>
<!ELEMENT assignatures (assignatura+)
<!ELEMENT assignatura (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT any (#PCDATA)>
<!ATTLIST document versio CDATA #FIXED "1.0">
<!ATTLIST document codificacio NMTOKEN #DEFAULT "UTF − 8">